@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background-color: #181818;
    color: white;
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6{
    font-weight: 300;
}

#wrapper{
    display: flex;
    flex-direction: row;
}

#left{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#right{
    flex:1
}

/* Sign In */
#signin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding-bottom: 1rem;
}

#signin form{
    width: 80%;
    padding-bottom: 2.75rem;
}

#signin .logo{
    margin-top: 2vh;
    margin-bottom: 5vh;
}

#signin .logo img{
    width: 300px;
}

#signin label{
    font-size: 0.9rem;
    line-height: 2rem;
    font-weight: 500;
}

#signin .text-input{
    width: 100%;
    margin-bottom: 1.3rem;
    background: #181818;
    border: 1px solid #555;
    border-radius: 2px;
    color: #ccc;
    padding: 0.5rem 1rem;
    line-height: 1.3rem;
}

#signin .primary-button{
    width: 100%;
}

#signin .secondary-button, .links, .or{
    width: 60%;
}

#signin .links a {
    display: block;
    color: white;
    text-decoration: none;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
}

#signin .links a:hover {
    color: #ff7b39;
}

#signin .or{
    display: flex;
    flex-direction: row;
    margin-bottom: 1.3rem;
    align-items: center;
}

#signin .or .bar{
    flex: auto;
    border: none;
    height: 1px;
    background-color: #aaa;
}

#signin .or span{
    color: #ccc;
    padding: 0 0.8rem;
}

/* Showcase */
#showcase{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../images/login-bg.jpg) no-repeat center center /cover;
    height: 100vh;
    text-align: center;
}

#showcase .showcase-text{
    font-size: 3rem;
    width: 100%;
    color: white;
    margin-bottom: 1.5rem;
}

#showcase .secondary-text {
    width: 100%;
    font-size: 1rem;
    color: white; 
    text-align: center;
}

/* Footer */
#main-footer{
    color: #ccc;
    text-align: center;
    font-size: 0.8rem;
    padding-top: 2.25rem;
    max-width: 80%;
}

#main-footer a{
    color: #ff7b39;
}

/* Buttons */
.primary-button{
    cursor: pointer;
    padding: 0.7rem 1rem;
    height: 2.7rem;
    display: block;
    text-align: center;
    background: #f96816;
    color: white;
    border: 0;
    border-radius: 2px;
    font-weight: 700;
    text-decoration: none;
    transition: all 0.5s;
    font-size: large;
}

.primary-button:hover{
    background-color: #f85b00;
}

.secondary-button{
    cursor: pointer;
    padding: 0.7rem 1rem;
    height: 2.7rem;
    display: block;
    text-align: center;
    background: none;
    color: white;
    border: 1px solid #f4f4f4;
    border-radius: 2px;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.5s;
}

.secondary-button:hover{
    border-color: #ff7b39;
    color: #ff7b39;
}

/* Media Queries */
@media(min-width: 1200px){
    #left{
        flex: 4;
    }

    #right{
        flex: 6;
    }
}

@media(max-width: 768px){
    body{
        overflow: auto;
    }

    #right{
        display: none;
    }

    #left{
        justify-content: start;
        margin-top: 2vh;
    }
}
