<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/predict.css')}}"
    />
    <title>Landing Page</title>
  </head>
  <body>
    <div class="container">
      <div class="left-wrapper">
        <div id="logo">
          <img
            src="{{ url_for('static', filename='images/logo4_tp.png')}}"
            alt="News Check"
          />
        </div>
        <div class="type-text">
          <h1>AI Fake News Detector</h1>
          <h3>Steps:</h3>
          <ul class="steps">
            <li>Enter the News in the Textbox</li>
            <li>Click on the Submit button</li>
            <li>Check the result</li>
          </ul>
        </div>
      </div>

      <div class="right-wrapper">
        <h1>AI Fake News Detector</h1>
        <form
          class="input-box"
          method="POST"
          action="{{ url_for('predict.predict') }}"
        >
          {{ form.hidden_tag() }}
          <div>
            <!-- <label >Enter news headline or copy paste the news paragraph</label> -->
            {{ form.news.label }}
            <!-- <input type="text" class="text-input"> -->
            {{ form.news(class="text-input") }} {% for error in form.news.errors
            %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>
          <div class="primary-btn">
            <!-- <button id="btn">Submit</button> -->
            {{ form.submit(id="btn") }}
          </div>
        </form>
        <div class="btn">
          <a href="{{url_for('auth.logout')}}" class="secondary-btn">Logout</a>
        </div>
      </div>
    </div>
  </body>
</html>
