{% extends 'base.html'%} 

<!-- Remove placeholder classses everywhere -->

{% block title %}Auth{% endblock %} 
{% block content %}
<form method="POST" action="{{ url_for('predict.predict') }}">
  {{ form.hidden_tag() }}
  <div class="form-group">
    {{ form.news.label(class="form-control-label") }} {{
    form.news(class="form-control") }} {% for error in
    form.news.errors %}
    <span class="text-danger">{{ error }}</span>
    {% endfor %}
  </div>
  <div class="form-group">{{ form.submit(class="btn btn-primary") }}</div>
</form>
{% endblock %}

