body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    background-color: #181818; 
}

.container {
    display: flex;
    width: 100%; 
    height: 100%;
    background-color: #181818; 
    border-radius: 10px;
    overflow: hidden;
}

.left-wrapper {
    flex: 0 0 60%;
    padding: 20px;
    box-sizing: border-box;
    background: url(../images/login-bg.jpg) no-repeat center center /cover;
    color: #fff;
}

.left-wrapper .typing {
    padding-top: 8.5rem;
    text-align: center;
}

.typing h1 {
    font-weight: 700;
    font-size: 2.5rem;
}

/* .typing h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 66%;
} */

.right-wrapper {
    flex: 0 0 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #181818; 
    color: #fff;
}

.right-wrapper h1 {
    font-weight: 700;
    font-size: 2.5rem;
}

#logo img {
    max-width: 300px;
}

.btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#login-btn, #signup-btn {
    cursor: pointer;
    width: 8rem;
    padding: 0.7rem 1rem;
    height: 2.7rem;
    display: block;
    text-align: center;
    background: #f96816;
    color: white;
    border: 2px;
    border-color: white;
    border-radius: 2px;
    font-weight: 700;
    text-decoration: none;
    transition: all 0.5s;
    font-size: large;
}

.left-btn {
    padding-right: 1rem;
}

.right-btn {
    padding-left: 1rem;
}

#signup-btn:hover , #login-btn:hover {
    background-color: #f85b00;
}

.btn a {
    text-decoration: none;
}
