body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    background-color: #181818; 
}

.container {
    display: flex;
    width: 100%; 
    height: 100%;
    background-color: #181818; 
    border-radius: 10px;
    overflow: hidden;
}

.left-wrapper {
    flex: 0 0 60%;
    padding: 20px;
    box-sizing: border-box;
    background: url(../images/login-bg.jpg) no-repeat center center /cover;
    color: #fff;
}

.right-wrapper {
    flex: 0 0 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #181818; 
    color: #fff;
}

.right-wrapper h1 {
    font-weight: 700;
    font-size: 2.5rem;
}

.right-wrapper form{
    width: 80%;
    padding: 1.75rem;
}

.right-wrapper label {
    font-size: 1rem;
    line-height: 2rem;
    font-weight: 500;
}

.right-wrapper .text-input {
    width: 100%;
    height: auto;
    background: #181818;
    border: 1px solid beige;
    border-radius: 4px;
    color: #ccc;
    padding: 1rem 1rem;
    line-height: 1.3rem;
}

#logo img {
    max-width: 300px;
}

#btn {
    cursor: pointer;
    width: 8rem;
    padding: 0.7rem 1rem;
    height: 2.7rem;
    display: block;
    text-align: center;
    background: #f96816;
    color: white;
    border: 2px;
    border-color: white;
    border-radius: 2px;
    font-weight: 700;
    text-decoration: none;
    transition: all 0.5s;
    font-size: large;
}

.primary-btn {
    padding-top: 2rem;
}

.type-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.steps {
    line-height: 1.5rem;
}

.left-wrapper .type-text {
    padding-top: 7rem;
}

.secondary-btn {
    cursor: pointer;
    padding: 0.7rem 1rem;
    height: 2.7rem;
    display: block;
    text-align: center;
    background: none;
    color: white;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.5s;
}

.secondary-btn:hover{
    color: #ff7b39;
}

.right-wrapper .btn {
    position: absolute;
    top: 20px; 
    right: 20px; 
}
