<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css')}}">
    <title>Landing Page</title>
  
</head>
<body>
    <div class="container">
        <div class="left-wrapper">
            <div id="logo">
                <img src="{{ url_for('static', filename='images/logo4_tp.png')}}" alt="News Check">
            </div>
            <div class="typing">
                <h1>AI Fake News Detector</h1>
                <h3><span class="auto-type"></span></h3>
            </div>
        </div>
        <div class="right-wrapper">
            <h1>Get Started</h1>
            <div class="btn">
                <a href="{{url_for('login')}}" class="left-btn">
                    <button id="login-btn">Login</button>
                </a>
                <a href="{{url_for('register')}}" class="right-btn">
                    <button id="signup-btn">Sign Up</button>
                </a>
            </div>
        </div>
    </div> 
    
    <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>

    <script>
        var typed = new Typed(".auto-type", {
            strings: ["Empower yourself with the Truth!", "Navigate the news landscape with confidence!", 
            "Distinguish fact from fiction, ensuring you stay informed with accurate and credible information!"],
            typeSpeed: 150,
            backSpeed: 100,
            loop: true
        })
    </script>
</body>
</html>
