<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/predict.css')}}">
    <title>Landing Page</title>
  
</head>
<body>
    <div class="container">
        <div class="left-wrapper">
            <div id="logo">
                <img src="{{ url_for('static', filename='images/logo4_tp.png')}}" alt="News Check">
            </div>
        </div>
        <div class="right-wrapper">
            <h1>AI Fake News Detector</h1>
            <form class="input-box">
                <div>
                    <label >Enter news headline or copy paste the news paragraph</label>
                    <input type="text" class="text-input">
                </div>
                <div class="primary-btn">
                    <button id="btn">Submit</button>
                </div>
            </form>
        </div>
    </div>  

    <script>
      // You can add JavaScript logic here for managing the appearance/disappearance of sentences
    </script>
</body>
</html>

