<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/register.css')}}">
    <title>News Check - Register</title>
</head>
<body>
    <div id="wrapper">
        <div id="left">
            <div id="signin">
                <div class="logo">
                    <img src="{{ url_for('static', filename='images/logo4_tp.png')}}" alt="News Check">
                </div>
                <form method="post" action="">
                    {{form.hidden_tag()}}
                    <div>
                        {{form.name.label}}
                        {{form.name(class="text-input")}}
                    </div>
                    <div>
                        {{form.email.label}}
                        {{form.email(class="text-input")}}
                    </div>
                    <div>
                        {{form.password.label}}
                        {{form.password(class="text-input")}}
                    </div>
                    <div>
                        {{form.confirm_password.label}}
                        {{form.confirm_password(class="text-input")}}
                    </div>
                    <div>
                        {{form.submit(class="primary-button")}}
                    </div>
                    <a href="{{url_for('login')}}" class="secondary-button">Have an account</a>
                </form>
            </div>
            <footer id="main-footer">
                <p>Copyright &copy; 2023, made by Shraddha Jha & Khushi Maran</p>
            </footer>
        </div>
        <div id="right">
            <div id="showcase">
                <div class="showcase-content">
                    <h1 class="showcase-text"><strong>AI Fake News Detector</strong></h1>
                    <p class="secondary-text">Guardian of Truth - Join the battle against misinformation.</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
